/********************************************
	Global CSS
*/
.mainBackground {
	background-image: url("/images/parallax.jpg"); 
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.content-container {
	margin-top: 15vh;
	background-color: #222;
	opacity: 0.9;
	height: 65vh;
	display: table;
}

.navigation-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #444;
}

.navigation-item {
	display: table-cell;
	text-align: center;
}

.nav-size {
	display: table-row;
	height: 0;
}

.fill {
	display: table-row;
	height: auto;
}

.section {
	height: 100%;
	overflow: scroll;
	color: #D3D3D3;
}

/********************************************
	About Page CSS
*/
.about-image {
	background-image: url(../images/about.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.about-content {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.6;
}