/********************************************
	Global CSS
*/
.mainBackground {
	background-image: url("/images/parallax.jpg"); 
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.content-container {
	margin-top: 15vh;
	background-color: #222;
	opacity: 0.9;
	height: 65vh;
	display: table;
}

.navigation-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #444;
}

.navigation-item {
	display: table-cell;
	text-align: center;
	font-size: 16px;
}

.nav-size {
	display: table-row;
	height: 0;
}

.fill {
	display: table-row;
	height: auto;
}

.section {
	height: 100%;
	overflow: scroll;
	color: #D3D3D3;
}

a {
	color: #22647E;
	font-weight: 500;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.description {
	color: #666;
}

.cross-out {
	text-decoration: line-through !important;
}
/********************************************
	About Page CSS
*/
.about-image {
	background-image: url(../images/about.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.about-content {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.6;
}

.resume-link {
	text-align: center;
	display: block;
	font-size: 20px;
	border: 3px dotted #333;
	margin-top: 20px;
}

.resume-icon {
	margin-right: 10px;
}

/********************************************
	Work Page CSS
*/
.work-info {
	padding-left: 30px;
	padding-right: 0px;
}

.workcard-wrapper {
	border: 3px solid #333;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	height: 80%;
}

.work-duration {
	border: 2px solid #22647E;
	padding: 5px;
	border-radius: 10px;
	display: inline-block;
	margin-top: 0;
}

/********************************************
	Skills Page CSS
*/
.skill-info {
	height: 75%;
	padding-left: 30px;
}
.y-axis {
	height: 100%;
}

.y-axis-legend {
	height: 20%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.graph-container {
	height: 100%;
}

.graphElement-container {
	height: 100%;
	padding: 0;
	margin-right: 20px;
}

.graphBar-container {
	width: 100%;
	height: 75%;
}

.graph {
	height: 100%;
	width: 60%;
	float: right;
	border: 2px solid black;
	border-radius: 15px;
	position: relative;
}

.graph-bar {
	width: 100%;
	background-color: #22647E;
	border-radius: 15px;
	position: absolute;
	bottom: 0px;
}

.graphText-container {
	position: relative;
	height: 10%;
}

.graphText {
	position: absolute;
	bottom: -10px;
	right: 0px;
	transform: rotate(-30deg)
}

/********************************************
	Projects Page CSS
*/
.project-image {
	width: 100%;
	background-color: white;
	padding: 10px;
}

/********************************************
	Contact Page CSS
*/
.contact-container {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.contact-link {
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}

.contactLink-container {
	margin-top: 30px;
	border: 3px dotted #333;
	padding: 0;
}